<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <meta charset="UTF-8">
    <title>Libertese | Login</title>
    <style>
        form {
            padding: 40px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 300px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .logo img {
            width: 100%;
        }

        label {
            width: 100%;
            display: block;
            margin-bottom: 5px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 14px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        button {
            margin-bottom: 10px;
            width: 100%;
            padding: 12px;
            box-sizing: border-box;
            border-radius: 8px;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            padding-left: 30px;
        }

        input.invalid {
            border-color: crimson;
            box-shadow: 0px 0px 0px crimson;
        }

        span {
            color: crimson;
            display: block;
            margin-top: 5px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 14px;
        }

        .registrese {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 20px;
        }

        button {
            background-color: #000;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.5s ease;
        }

            button:hover {
                background-color: #4F4F4F;
            }

        .link {
            text-align: center;
        }

        a {
            color: inherit;
            transition: color 0.3s ease;
        }

            a:hover {
                color: #4F4F4F;
            }
    </style>
</head>

<body>



    <form id="loginForm">

        <div class="logo">
            <img src="~/img/Logo principal.png" alt="">
        </div>

        <div class="container">
            <div class="login">
                <h2>Login</h2>
                <br />
            </div>

            <div class="form-group">
                <label for="email"> E-mail </label>
                <input type="email" oninput="validarEmail(this)" onfocus="redefinirMsg()"
                       placeholder="Example@something.com" id="email" required />
                <div class="icon email">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <br />
                <span id="error-email"></span>
                <br />
                <label for="senha"> Senha </label>
                <input type="password" placeholder="Digite sua senha" id="senha" required />
                <div class="icon senha">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <br />
                <br />
                <br />
                <br />
                <button type="button" onclick="autenticarUsuario()">Confirmar</button>
                <div class="link">
                    <a asp-controller="Home" asp-action="Index">Não possui cadastro? Clique aqui</a>
                </div>
            </div>
        </div>
    </form>


</body>

</html>

<script>
    function autenticarUsuario() {
        var email = document.getElementById("email").value;
        var senha = document.getElementById("senha").value;

        // Aqui você pode adicionar mais validações se necessário

        var data = {
            Email: email,
            Senha: senha
        };

        fetch("/api/v1/user/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Credenciais inválidas');
                }
                alert('Login bem-sucedido!');
                // Redirecionar para a página desejada após o login bem-sucedido
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao tentar fazer login');
            });
    }
</script>