@model Libertese.Domain.Entities.Cadastro.Funcionario
@{
    ViewData["Title"] = "Novo Funcionário";
    Layout = "~/Views/Shared/_LayoutProdutos.cshtml";
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="./scaffold/css/vendors/flatpickr.min.css" rel="stylesheet">
    <link href="./scaffold/style.css" rel="stylesheet">
    <link href="./output.css" rel="stylesheet">

    
</head>
<body class="font-inter antialiased bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400">
    <div class="flex min-h-[100dvh]  overflow-hidden">
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden bg-white dark:bg-slate-900">
            <main class="grow">
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
                    <div class="mb-8">
                        <div class="flex items-center justify-between">
                            <h2 class="text-2xl md:text-3xl text-slate-800 dark:text-slate-100 font-bold">Novo Funcionário</h2>
                            <a asp-action="Index" class="btn bg-orange-500 hover:bg-orange-600 text-white ml-3 rounded-lg w-24">Voltar</a>
                        </div>
                    </div>
                    <div class="border-t border-slate-200 dark:border-slate-700">
                        <form asp-action="Create" id="employeeForm">
                            <div class="space-y-8 mt-5">                               
                                <div>
                                    <div class="grid gap-5 md:grid-cols-2">
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Nome" class="block text-sm font-medium mb-1" for="tooltip"></label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Nome completo do funcionário</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input asp-for="Nome" class="form-input w-full input-nome" type="text" />
                                                <span asp-validation-for="Nome" class="text-xs mt-1 text-rose-500"></span>
                                            </div>
                                        </div>                         
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="HorasDia" class="block text-sm font-medium mb-1" for="tooltip">Horas trabalhadas por dia:</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Digite as horas trabalhadas por dia</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input asp-for="HorasDia" class="form-input w-full input-horas" />
                                                <span asp-validation-for="HorasDia" class="text-xs mt-1 text-rose-500"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="DiasMes" class="block text-sm font-medium mb-1" for="tooltip">Dias trabalhados por mês:</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Digite os dias trabalhados por mês</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input asp-for="DiasMes" class="form-input w-full input-dias" />
                                                <span asp-validation-for="DiasMes" class="text-xs mt-1 text-rose-500"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Cpf" class="block text-sm font-medium mb-1" for="tooltip">Digite o CPF:</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Digite os dias trabalhados por mês</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-cpf">
                                                <input asp-for="Cpf" id="cpfInput" class="form-input w-full input-cpf" />
                                                <span asp-validation-for="Cpf" class="text-xs mt-1 text-rose-500"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Sexo" class="block text-sm font-medium mb-1" for="tooltip">Sexo:</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Digite os dias trabalhados por mês</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <select asp-for="Sexo" class="form-input w-full input-sexo">
                                                    <option value="Feminino">Feminino</option>
                                                    <option value="Masculino">Masculino</option>
                                                    <option value="Não binário">Não binário</option>
                                                    <option value="Prefiro não informar">Prefiro não informar</option>
                                                </select>
                                                <span asp-validation-for="Sexo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Email" class="block text-sm font-medium mb-1" for="tooltip">E-mail:</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Digite o e-mail</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input asp-for="Email" id="email" class="form-input w-full input-email" />
                                                <span asp-validation-for="Email" class="text-xs mt-1 text-rose-500"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Celular" class="block text-sm font-medium mb-1" for="tooltip">Celular:</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Digite o celular</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-celular">
                                                    <input asp-for="Celular" class="form-input w-full input-celular" />
                                                    <span asp-validation-for="Celular" class="text-xs mt-1 text-rose-500"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Function" class="block text-sm font-medium mb-1" for="tooltip">Função:</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Selecione a função</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-function">
                                                    <select asp-for="Function" class="form-input w-full input-function">
                                                        <option value="Costureira Nível 1">Costureira Nível 1</option>
                                                        <option value="Costureira Nível 3">Costureira Nível 3</option>
                                                        <option value="Costureira Nível 5">Costureira Nível 5</option>
                                                        <option value="Assistente Geral">Assistente Geral</option>
                                                    </select>
                                                    <span asp-validation-for="Function" class="text-xs mt-1 text-rose-500"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Pessoareclusa" class="block text-sm font-medium mb-1" for="tooltip">Esta pessoa é reclusa?</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Selecione a opção</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-pessoareclusa">
                                                    <select asp-for="Pessoareclusa" class="form-input w-full input-pessoareclusa">
                                                        <option value="true">Sim</option>
                                                        <option value="false">Não</option>
                                                    </select>
                                                    
                                                    <span asp-validation-for="Pessoareclusa" class="text-xs mt-1 text-rose-500"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Pessoaegressa" class="block text-sm font-medium mb-1" for="tooltip">Esta pessoa é egressa?</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Selecione a opção</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-pessoaegressa">
                                                    <select asp-for="Pessoaegressa" class="form-input w-full input-pessoaegressa">
                                                        <option value="true">Sim</option>
                                                        <option value="false">Não</option>
                                                    </select>

                                                    <span asp-validation-for="Pessoaegressa" class="text-xs mt-1 text-rose-500"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Penitenciaria" class="block text-sm font-medium mb-1" for="tooltip">Nome da Penitenciária:</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Digite o nome da Penitenciária</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-penitenciaria">
                                                    <input asp-for="Penitenciaria" class="form-input w-full input-penitenciaria" />
                                                    <span asp-validation-for="Penitenciaria" class="text-xs mt-1 text-rose-500"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="CursoLibertese" class="block text-sm font-medium mb-1" for="tooltip">Fez o curso na Libertese?</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Selecione a opção</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-cursolibertese">
                                                    <select asp-for="CursoLibertese" class="form-input w-full input-cursolibertese">
                                                        <option value="true">Sim</option>
                                                        <option value="false">Não</option>
                                                    </select>
                                                    <span asp-validation-for="CursoLibertese" class="text-xs mt-1 text-rose-500"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Remuneracao" class="block text-sm font-medium mb-1" for="tooltip">Possui remuneração?</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Selecione a opção</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-remuneracao">
                                                    <input class="input-remuneracao" type="checkbox" asp-for="Remuneracao" id="remuneracaoCheckbox" />
                                                    <span asp-validation-for="Remuneracao" class="text-xs mt-1 text-rose-500"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div class="flex items-center justify-between">
                                                    <label asp-for="Salario" class="block text-sm font-medium mb-1" for="tooltip">Salário:</label>
                                                    <div class="relative ml-2"
                                                         x-data="{ open: false }"
                                                         @@mouseenter="open = true"
                                                         @@mouseleave="open = false">
                                                        <button class="block"
                                                                aria-haspopup="true"
                                                                :aria-expanded="open"
                                                                @@focus="open = true"
                                                                @@focusout="open = false"
                                                                @@click.prevent>
                                                            <svg class="w-4 h-4 fill-current text-slate-400 dark:text-slate-500" viewBox="0 0 16 16">
                                                                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="z-10 absolute bottom-full left-1/2 -translate-x-1/2">
                                                            <div class="min-w-60 bg-slate-800 text-slate-200 px-2 py-1 rounded overflow-hidden mb-2"
                                                                 x-show="open"
                                                                 x-transition:enter="transition ease-out duration-200 transform"
                                                                 x-transition:enter-start="opacity-0 translate-y-2"
                                                                 x-transition:enter-end="opacity-100 translate-y-0"
                                                                 x-transition:leave="transition ease-out duration-200"
                                                                 x-transition:leave-start="opacity-100"
                                                                 x-transition:leave-end="opacity-0"
                                                                 x-cloak>
                                                                <div class="text-sm">Digite o valor do Salário</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-salario" id="salarioGroup">
                                                    <input asp-for="Salario" class="form-input w-full input-salario" id="salarioInput" />
                                                    <span asp-validation-for="Salario" class="text-xs mt-1 text-rose-500"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <div class="flex flex-col px-6 py-5 border-t border-slate-200 dark:border-slate-700">
                                        <div class="flex self-center">
                                            <button id="submitForm" name="submitForm" type="submit" value="Salvar" class="btn bg-slate-900 hover:bg-orange-600 text-white ml-3 rounded-lg w-32">Confirmar</button>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script>
        // Ocultar o campo de Salário inicialmente quando a página for carregada
        document.addEventListener('DOMContentLoaded', function () {
            var salarioGroup = document.getElementById('salarioGroup');
            salarioGroup.style.display = 'none';
        });

        // Adicionar o evento de mudança ao checkbox de "Possui remuneração"
        document.getElementById('remuneracaoCheckbox').addEventListener('change', function () {
            var salarioGroup = document.getElementById('salarioGroup');
            var salarioInput = document.getElementById('salarioInput');
            if (this.checked) {
                salarioGroup.style.display = 'block';
            } else {
                salarioGroup.style.display = 'none';
                salarioInput.value = 0; // Define o valor do Salário como 0 quando o checkbox não estiver marcado
            }
        });

        // Intercepta o envio do formulário
        document.querySelector('form').addEventListener('submit', function (event) {
            var salarioInput = document.getElementById('salarioInput');
            var cursoLiberteseCheckbox = document.getElementById('CursoLibertese');
            // Se o checkbox de "Possui remuneração" não estiver marcado, define o valor do Salário como 0
            if (!document.getElementById('remuneracaoCheckbox').checked) {
                salarioInput.value = 0;
            }
            // Verifica se o checkbox de "CursoLibertese" está marcado e define o valor como true se estiver
            if (cursoLiberteseCheckbox.checked) {
                cursoLiberteseCheckbox.value = true;
            }
            // Continua com o envio do formulário
            return true;
        });
        function formatarCPF(cpf) {
            // Remove qualquer caracter que não seja número
            cpf = cpf.replace(/\D/g, '');
            // Adiciona a formatação
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2');
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2');
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
            return cpf;
        }

        // Adiciona o evento de digitação ao campo de CPF
        document.getElementById('cpfInput').addEventListener('input', function (event) {
            var input = event.target;
            var cpf = input.value;
            // Formata o CPF enquanto o usuário digita
            input.value = formatarCPF(cpf);
        });

        document.querySelector('form').addEventListener('submit', function (event) {
            var cpfInput = document.getElementById('cpfInput');
            var cpf = cpfInput.value;
            // Verifica se o CPF está no formato correto
            if (!validarCPF(cpf)) {
                alert('Por favor, insira um CPF válido no formato XXX.XXX.XXX-XX.');
                // Impede o envio do formulário se o CPF não estiver no formato correto
                event.preventDefault();
            }
        });

        // Função para formatar o número de celular
        function formatarCelular(celular) {
            // Remove todos os caracteres que não são dígitos
            var cleaned = celular.replace(/\D/g, '');
            // Aplica a formatação (XX) XXXXX-XXXX
            var match = cleaned.match(/^(\d{0,2})(\d{0,5})(\d{0,4})$/);
            if (match) {
                // Concatena os grupos capturados com os separadores
                return (!match[2] ? match[1] : '(' + match[1] + ') ' + match[2]) + (match[3] ? '-' + match[3] : '');
            }
            return celular;
        }

        // Adiciona o evento de formatação ao campo de celular
        document.getElementById('Celular').addEventListener('input', function (event) {
            var celularInput = event.target;
            var formatted = formatarCelular(celularInput.value);
            // Atualiza o valor do campo com o número de celular formatado
            celularInput.value = formatted;
        });

        // Intercepta o envio do formulário para validar o número de celular
        document.querySelector('form').addEventListener('submit', function (event) {
            var botaoSubmit = document.activeElement;
            // Verifica se o botão clicado é o botão de criar (Confirmar)
            if (botaoSubmit && botaoSubmit.id === 'botao-create') {
                var celularInput = document.getElementById('Celular');
                var celular = celularInput.value.replace(/\D/g, ''); // Remove todos os caracteres que não são dígitos
                // Verifica se o número de celular possui 11 dígitos após a formatação
                if (celular.length !== 11) {
                    // Impede o envio do formulário
                    event.preventDefault();
                    // Exibe uma mensagem de erro
                    alert('Por favor, insira um número de celular válido no formato (XX) XXXXX-XXXX');
                }
            }
        });
        // Intercepta o envio do formulário
        document.querySelector('form').addEventListener('submit', function (event) {
            // Seleciona todos os campos de entrada exceto os checkboxes
            var inputs = document.querySelectorAll('input[type="text"], input[type="email"], input[type="password"], select');
            var isValid = true;

            // Verifica se algum campo obrigatório está vazio
            inputs.forEach(function (input) {
                if (input.hasAttribute('required') && !input.value.trim()) {
                    // Se o campo estiver vazio, adiciona uma classe de erro
                    input.classList.add('input-error');
                    // Define isValid como falso para impedir o envio do formulário
                    isValid = false;
                } else {
                    // Remove a classe de erro caso o campo esteja preenchido
                    input.classList.remove('input-error');
                }
            });

            // Se algum campo estiver vazio, impede o envio do formulário
            if (!isValid) {
                // Impede o envio do formulário
                event.preventDefault();
                // Exibe uma mensagem de erro
                alert('Por favor, preencha todos os campos obrigatórios.');
            }
        });
        function formatarCPF(cpf) {
            cpf = cpf.replace(/\D/g, "");
            cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
            cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2");
            return cpf;
        }

        document.getElementById('cpfInput').addEventListener('input', function (e) {
            e.target.value = formatarCPF(e.target.value);
        });

        function formatarMoeda(valor) {
            valor = valor.replace(/\D/g, "");
            valor = (valor / 100).toFixed(2) + "";
            valor = valor.replace(".", ",");
            valor = valor.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
            return "R$ " + valor;
        }

        document.getElementById('salarioInput').addEventListener('input', function (e) {
            e.target.value = formatarMoeda(e.target.value);
        });
    </script>
</body>
