@model Libertese.Domain.Entities.Cadastro.Funcionario
@{
    ViewData["Title"] = "Novo Funcionário";
    Layout = "~/Views/Shared/_LayoutProdutos.cshtml";
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="./scaffold/css/vendors/flatpickr.min.css" rel="stylesheet">
    <link href="./scaffold/style.css" rel="stylesheet">
    <link href="./output.css" rel="stylesheet">

    <style>
        body {
        }

        .box-create {
            padding: auto;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
            justify-content: center;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 14px;
        }

        .input-nome {
            margin-bottom: 5px;
        }

        .input-horas {
            margin-bottom: 5px;
        }

        .input-dias {
            margin-bottom: 5px;
        }

        .input-cpf {
            margin-bottom: 5px;
        }

        .input-sexo {
            margin-bottom: 5px;
        }

        .input-email {
            margin-bottom: 5px;
        }

        .input-celular {
            margin-bottom: 5px;
        }

        .input-function {
            margin-bottom: 5px;
        }

        .input-pessoareclusa {
            margin-bottom: 5px;
        }

        .input-penitenciaria {
            margin-bottom: 5px;
        }

        .input-cursolibertese {
            margin-bottom: 5px;
        }

        .input-remuneracao {
            margin-bottom: 20px;
        }

        .input-salario {
            margin-bottom: 20px;
        }



        input[type="text"],
        input[type="email"],
        input[type="password"]
        input[type="submit"]
        input[type="select"] {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 14px;
        }

        .form-control {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 14px;
            border: 1px solid #000;
            background-color: rgba(220,220,220, 0.3);
        }

        .botao-create {
            align-items: center;
            justify-content: center;
            width: 200px;
            background-color: #000;
            border-radius: .25rem;
            display: inline-block;
            text-align: center;
        }

        .botoes {
            text-align: center;
        }

        .botao-voltar {
            align-items: center;
            justify-content: center;
            width: 200px;
            background-color: #D96704;
            border-radius: .25rem;
            display: inline-block;
            text-align: center;
        }

            .botao-voltar:hover {
                color: #fff;
                background-color: #808080;
                border-color: #808080;
            }

        .botao-create:hover {
            color: #fff;
            background-color: #808080;
            border-color: #808080;
        }

        input.form-sexo {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 14px;
        }

        .create-employee {
            width: 500px;
        }

        .title-cadastro {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-size: 30px;
        }

        .botao-back {
            font-color: #000;
        }

    </style>
</head>
<body class="font-inter antialiased bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400">
    <div class="flex min-h-[100dvh]  overflow-visible">
        <div class="relative flex flex-col flex-1 overflow-y-visible overflow-x-visible bg-white dark:bg-slate-900">
            <main class="grow">
                <div class="px-4 sm:px-6 lg:px-8 pt-8 w-full max-w-9xl mx-auto">
                    <div class="mb-1">
                        <div class="flex items-center justify-between">
                            <h2 class="text-2xl md:text-3xl text-slate-800 dark:text-slate-100 font-bold">Novo Funcionário</h2>
                            <a asp-action="Index" class="btn bg-orange-500 hover:bg-orange-600 text-white ml-3 rounded-lg w-24">Voltar</a>
                        </div>

                    </div>
                </div>
        <div class="create-employee">
            <form asp-action="Create" id="employeeForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-nome">
                    <label asp-for="Nome" class="control-label">Nome completo *</label>
                    <input asp-for="Nome" class="form-control input-nome" placeholder="Digite o nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-horas">
                    <label asp-for="HorasDia" class="control-label">Horas de trabalho por dia *</label>
                    <input asp-for="HorasDia" class="form-control input-horas" placeholder="Horas de trabalho por dia" />
                    <span asp-validation-for="HorasDia" class="text-danger"></span>
                </div>
                <div class="form-dias">
                    <label asp-for="DiasMes" class="control-label">Dias de trabalho por mês *</label>
                    <input asp-for="DiasMes" class="form-control input-dias" placeholder="Dias de trabalho por mês" />
                    <span asp-validation-for="DiasMes" class="text-danger"></span>
                </div>
                <div class="form-cpf">
                    <label asp-for="Cpf" class="control-label">CPF *</label>
                    <input asp-for="Cpf" class="form-control input-cpf" placeholder="Digite o CPF" id="cpfInput" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="form-sexo">
                    <label asp-for="Sexo" class="control-label">Sexo *</label>
                    <select asp-for="Sexo" class="form-control input-sexo">
                        <option value="Feminino">Feminino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Não binário">Não binário</option>
                        <option value="Prefiro não informar">Prefiro não informar</option>
                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
                <div class="form-email">
                    <label asp-for="Email" class="control-label">E-mail *</label>
                    <input asp-for="Email" class="form-control input-email" placeholder="Example@something.com" id="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-celular">
                    <label asp-for="Celular" class="control-label">Celular *</label>
                    <input asp-for="Celular" class="form-control input-celular" placeholder="DDD + Número" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>

                <div class="form-function">
                    <label asp-for="Function" class="control-label">Função na Libertese</label>
                    <select asp-for="Function" class="form-control input-function">
                        <option value="Costureira Nível 1">Costureira Nível 1</option>
                        <option value="Costureira Nível 3">Costureira Nível 3</option>
                        <option value="Costureira Nível 5">Costureira Nível 5</option>
                        <option value="Assistente Geral">Assistente Geral</option>
                    </select>
                    <span asp-validation-for="Function" class="text-danger"></span>
                </div>

                <div class="form-pessoareclusa">
                    <label asp-for="Pessoareclusa" class="control-label">Esta pessoa é reclusa? *</label>
                    <select asp-for="Pessoareclusa" class="form-control input-pessoareclusa">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                    <span asp-validation-for="Pessoareclusa" class="text-danger"></span>
                </div>
                <div class="form-pessoaegressa">
                    <label asp-for="Pessoaegressa" class="control-label">Esta pessoa é egressa? *</label>
                    <select asp-for="Pessoaegressa" class="form-control input-pessoaegressa">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                    <span asp-validation-for="Pessoaegressa" class="text-danger"></span>
                </div>
                <div class="form-penitenciaria">
                    <label asp-for="Penitenciaria" class="control-label">Nome da Penitenciária *</label>
                    <input asp-for="Penitenciaria" class="form-control input-penitenciaria" placeholder="Nome da Penitenciária" />
                    <span asp-validation-for="Penitenciaria" class="text-danger"></span>
                </div>

                <div class="form-cursolibertese">
                    <label asp-for="CursoLibertese" class="control-label">Curso na Libertese *</label>
                    <select asp-for="CursoLibertese" class="form-control input-cursolibertese">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                    <span asp-validation-for="CursoLibertese" class="text-danger"></span>
                </div>
                <div class="form-remuneracao">
                    <label asp-for="Remuneracao" class="control-label">Possui remuneração?</label>
                    <input class="input-remuneracao" type="checkbox" asp-for="Remuneracao" id="remuneracaoCheckbox" />
                    <span asp-validation-for="Remuneracao" class="text-danger"></span>
                </div>
                <div class="form-salario" id="salarioGroup">
                    <label asp-for="Salario" class="control-label">Salário *</label>
                    <input asp-for="Salario" class="form-control input-salario" id="salarioInput" placeholder="Digite o salário" />
                    <span asp-validation-for="Salario" class="text-danger"></span>
                </div>

                <div class="botoes">
                    <button type="submit" class="btn btn-primary botao-create">Cadastrar</button>
                    <a asp-action="Index" class="btn btn-primary botao-voltar botao-back">Voltar</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        // Ocultar o campo de Salário inicialmente quando a página for carregada
        document.addEventListener('DOMContentLoaded', function () {
            var salarioGroup = document.getElementById('salarioGroup');
            salarioGroup.style.display = 'none';
        });

        // Adicionar o evento de mudança ao checkbox de "Possui remuneração"
        document.getElementById('remuneracaoCheckbox').addEventListener('change', function () {
            var salarioGroup = document.getElementById('salarioGroup');
            var salarioInput = document.getElementById('salarioInput');
            if (this.checked) {
                salarioGroup.style.display = 'block';
            } else {
                salarioGroup.style.display = 'none';
                salarioInput.value = 0; // Define o valor do Salário como 0 quando o checkbox não estiver marcado
            }
        });

        // Intercepta o envio do formulário
        document.querySelector('form').addEventListener('submit', function (event) {
            var salarioInput = document.getElementById('salarioInput');
            var cursoLiberteseCheckbox = document.getElementById('CursoLibertese');
            // Se o checkbox de "Possui remuneração" não estiver marcado, define o valor do Salário como 0
            if (!document.getElementById('remuneracaoCheckbox').checked) {
                salarioInput.value = 0;
            }
            // Verifica se o checkbox de "CursoLibertese" está marcado e define o valor como true se estiver
            if (cursoLiberteseCheckbox.checked) {
                cursoLiberteseCheckbox.value = true;
            }
            // Continua com o envio do formulário
            return true;
        });
        function formatarCPF(cpf) {
            // Remove qualquer caracter que não seja número
            cpf = cpf.replace(/\D/g, '');
            // Adiciona a formatação
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2');
            cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2');
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
            return cpf;
        }

        // Adiciona o evento de digitação ao campo de CPF
        document.getElementById('cpfInput').addEventListener('input', function (event) {
            var input = event.target;
            var cpf = input.value;
            // Formata o CPF enquanto o usuário digita
            input.value = formatarCPF(cpf);
        });

        document.querySelector('form').addEventListener('submit', function (event) {
            var cpfInput = document.getElementById('cpfInput');
            var cpf = cpfInput.value;
            // Verifica se o CPF está no formato correto
            if (!validarCPF(cpf)) {
                alert('Por favor, insira um CPF válido no formato XXX.XXX.XXX-XX.');
                // Impede o envio do formulário se o CPF não estiver no formato correto
                event.preventDefault();
            }
        });

        // Função para formatar o número de celular
        function formatarCelular(celular) {
            // Remove todos os caracteres que não são dígitos
            var cleaned = celular.replace(/\D/g, '');
            // Aplica a formatação (XX) XXXXX-XXXX
            var match = cleaned.match(/^(\d{0,2})(\d{0,5})(\d{0,4})$/);
            if (match) {
                // Concatena os grupos capturados com os separadores
                return (!match[2] ? match[1] : '(' + match[1] + ') ' + match[2]) + (match[3] ? '-' + match[3] : '');
            }
            return celular;
        }

        // Adiciona o evento de formatação ao campo de celular
        document.getElementById('Celular').addEventListener('input', function (event) {
            var celularInput = event.target;
            var formatted = formatarCelular(celularInput.value);
            // Atualiza o valor do campo com o número de celular formatado
            celularInput.value = formatted;
        });

        // Intercepta o envio do formulário para validar o número de celular
        document.querySelector('form').addEventListener('submit', function (event) {
            var botaoSubmit = document.activeElement;
            // Verifica se o botão clicado é o botão de criar (Confirmar)
            if (botaoSubmit && botaoSubmit.id === 'botao-create') {
                var celularInput = document.getElementById('Celular');
                var celular = celularInput.value.replace(/\D/g, ''); // Remove todos os caracteres que não são dígitos
                // Verifica se o número de celular possui 11 dígitos após a formatação
                if (celular.length !== 11) {
                    // Impede o envio do formulário
                    event.preventDefault();
                    // Exibe uma mensagem de erro
                    alert('Por favor, insira um número de celular válido no formato (XX) XXXXX-XXXX');
                }
            }
        });
        // Intercepta o envio do formulário
        document.querySelector('form').addEventListener('submit', function (event) {
            // Seleciona todos os campos de entrada exceto os checkboxes
            var inputs = document.querySelectorAll('input[type="text"], input[type="email"], input[type="password"], select');
            var isValid = true;

            // Verifica se algum campo obrigatório está vazio
            inputs.forEach(function (input) {
                if (input.hasAttribute('required') && !input.value.trim()) {
                    // Se o campo estiver vazio, adiciona uma classe de erro
                    input.classList.add('input-error');
                    // Define isValid como falso para impedir o envio do formulário
                    isValid = false;
                } else {
                    // Remove a classe de erro caso o campo esteja preenchido
                    input.classList.remove('input-error');
                }
            });

            // Se algum campo estiver vazio, impede o envio do formulário
            if (!isValid) {
                // Impede o envio do formulário
                event.preventDefault();
                // Exibe uma mensagem de erro
                alert('Por favor, preencha todos os campos obrigatórios.');
            }
        });
        function formatarCPF(cpf) {
            cpf = cpf.replace(/\D/g, "");
            cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
            cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2");
            return cpf;
        }

        document.getElementById('cpfInput').addEventListener('input', function (e) {
            e.target.value = formatarCPF(e.target.value);
        });

        function formatarMoeda(valor) {
            valor = valor.replace(/\D/g, "");
            valor = (valor / 100).toFixed(2) + "";
            valor = valor.replace(".", ",");
            valor = valor.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
            return "R$ " + valor;
        }

        document.getElementById('salarioInput').addEventListener('input', function (e) {
            e.target.value = formatarMoeda(e.target.value);
        });
    </script>
</body>
