@model IEnumerable<Libertese.Domain.Entities.Financeiro.DespesaDTO>

@{
    ViewData["Title"] = "Fluxo de Caixa";
    Layout = "~/Views/Shared/_LayoutProdutos.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Report</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style-fluxo-caixa.css" rel="stylesheet" />
    <style>
        .highlight-red {
            color: red;
        }

        .highlight-green {
            color: green;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="py-4">
                    <h1 class="text-2xl md:text-3xl text-slate-800 dark:text-slate-100 font-bold">Fluxo de Caixa</h1>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>FILTRO MENSAL, SE DER</th>
                    <th>FILTRO MENSAL, SE DER</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Entradas</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Vendas Confirmadas</td>
                    <td>R$ 25.000,00</td>
                    <td>R$ 25.000,00</td>
                </tr>
                <tr>
                    <td>Receitas Recebidas</td>
                    <td>R$ 20.000,00</td>
                    <td>R$ 20.000,00</td>
                </tr>
                <tr>
                    <td>Receitas Adicionais</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00</td>
                </tr>
                <tr>
                    <td>Total de entradas</td>
                    <td>R$ 45.000,00</td>
                    <td>R$ 45.000,00</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>FILTRO MENSAL, SE DER</th>
                    <th>FILTRO MENSAL, SE DER</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Saídas</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Despesas Pagas</td>
                    <td>R$ 8.000,00</td>
                    <td>R$ 8.000,00</td>
                </tr>
                <tr>
                    <td>Funcionários</td>
                    <td>R$ 2.000,00</td>
                    <td>R$ 2.000,00</td>
                </tr>
                <tr>
                    <td>Despesas Adicionais</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00</td>
                </tr>
                <tr>
                    <td>Total de saídas</td>
                    <td>R$ 10.000,00</td>
                    <td>R$ 10.000,00</td>
                </tr>
                <tr>
                    <td>Saldo total</td>
                    <td class="highlight-green">R$ 35.000,00</td>
                    <td class="highlight-red">R$ - 35.000,00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
<script>
    fetch("/Despesas", {
        method: "GET",
        headers: {
            "Content-Type": "application/json"
        }
    })
        .then(data => {
            
            console.log(data);
            
        })
        .catch(error => {
            console.error('Erro:', error);
            alert('Erro ao tentar fazer login');
        });
</script>