@model Libertese.Domain.Entities.Cadastro.Usuario

@{
    ViewData["Title"] = "ResetPassword";
}

<h1>Reset Password</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="ResetPassword" method="post">
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model?.Email" required>
    </div>
    <div class="form-group">
        <label for="novaSenha">Nova Senha:</label>
        <input type="password" class="form-control" id="novaSenha" name="novaSenha" required>
    </div>
    <div class="form-group">
        <label for="confirmNovaSenha">Confirmar Nova Senha:</label>
        <input type="password" class="form-control" id="confirmNovaSenha" name="confirmNovaSenha" required>
    </div>
    <button type="submit" class="btn btn-primary" id="submitButton">Resetar Senha</button>
</form>

<script>
    document.getElementById("submitButton").addEventListener("click", function (event) {
        var novaSenha = document.getElementById("novaSenha").value;
        var confirmNovaSenha = document.getElementById("confirmNovaSenha").value;

        if (novaSenha !== confirmNovaSenha) {
            alert("Nova Senha e Confirmar Nova Senha devem ser iguais.");
            event.preventDefault();
        }
    });
</script>