@model Libertese.Domain.Entities.Cadastro.Usuario

@{
    ViewData["Title"] = "ResetPassword";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Libertese | Registre-se</title>
    <style>
        form {
            padding: 40px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: flex;
            width: 400px;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        label {
            width: 100%;
            display: block;
            margin-bottom: 5px;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 14px;
            margin-top: 25px;
        }

        input[type="email"],
        input[type="password"],
        button {
            width: 100%;
            padding: 12px;
            box-sizing: border-box;
            border-radius: 8px;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
        }

        input[type="email"],
        input[type="password"] {
            padding-left: 45px;
        }

        input.invalid {
            border-color: crimson;
            box-shadow: 0px 0px 0px crimson;
        }

        span {
            color: crimson;
            display: block;
            margin-top: 5px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 14px;
        }

        .icon {
            display: inline-flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
        }

        .icon i {
            position: absolute;
            padding-left: 15px;
        }

        button {
            background-color: #000;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.5s ease;
            margin-top: 50px;
        }

            button:hover {
                background-color: #4F4F4F;
            }

        .link {
            text-align: center;
        }

        a {
            color: inherit;
            transition: color 0.3s ease;
        }

            a:hover {
                color: #4F4F4F;
            }
    </style>
</head>



<h1>Nova Senha</h1>

<form asp-action="ResetPassword" method="post">
    <div class="container">
    <div class="form-group">
        <label for="Email">Email:</label>
        <div class="icon">
            <i class="fa-regular fa-envelope"></i>
            <input type="email" class="form-control" id="Email" name="Email" value="@Model?.Email" placeholder="Endereco@dominio.com" required>
        </div>
    </div>
    <div class="form-group">
        <label for="novaSenha">Nova Senha:</label>
        <div class="icon">
            <i class="fa-solid fa-lock"></i>
            <input type="password" class="form-control" id="novaSenha" name="novaSenha" placeholder="Digite sua senha" required>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmNovaSenha">Confirme sua senha:</label>
        <div class="icon">
            <i class="fa-solid fa-lock"></i>
            <input type="password" class="form-control" id="confirmNovaSenha" name="confirmNovaSenha" placeholder="Digite sua senha novamente" required>
        </div>
    </div>
        <button type="submit" class="button" id="submitButton">Confirmar</button>
    </div>
</form>



@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger" role="alert">
    @TempData["ErrorMessage"]
</div>
}

<script>
    document.getElementById("submitButton").addEventListener("click", function (event) {
        var novaSenha = document.getElementById("novaSenha").value;
        var confirmNovaSenha = document.getElementById("confirmNovaSenha").value;

        if (novaSenha !== confirmNovaSenha) {
            alert("Nova Senha e Confirmar Nova Senha devem ser iguais.");
            event.preventDefault();
        }
    });
</script>