.home02-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home02-home02 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home02-ellipse1 {
  top: 46px;
  left: 1358px;
  width: 54px;
  height: 54px;
  position: absolute;
}
.home02-vuesaxlinearuser {
  top: 60px;
  left: 1372px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home02-vuesaxlinearuser1 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home02-user {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home02-vector {
  top: 2.1666667461395264px;
  left: 7.583333492279053px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.home02-vector1 {
  top: 16.25px;
  left: 3.6941707134246826px;
  width: 19px;
  height: 8px;
  position: absolute;
}
.home02-group72 {
  top: 129px;
  left: 327px;
  width: 715px;
  height: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(242, 202, 179, 0.8999999761581421);
}
.home02-text {
  top: 52.011474609375px;
  left: 65.92198944091797px;
  color: rgba(125, 110, 67, 1);
  width: 649px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home02-text01 {
  font-weight: 400;
}
.home02-text03 {
  font-weight: 400;
}
.home02-logosecundria {
  top: 46px;
  left: 767px;
  width: 432px;
  height: 358px;
  position: absolute;
}
.home02-text05 {
  top: 588px;
  left: 327px;
  color: rgba(86, 86, 86, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home02-text07 {
  top: 588px;
  left: 1006px;
  color: rgba(86, 86, 86, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home02-text09 {
  top: 875px;
  left: 663px;
  color: rgba(86, 86, 86, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home02-text11 {
  top: 771px;
  left: 327px;
  color: rgba(86, 86, 86, 1);
  width: 256px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home02-text13 {
  top: 785px;
  left: 1006px;
  color: rgba(86, 86, 86, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home02-text15 {
  top: 653px;
  left: 674px;
  color: rgba(86, 86, 86, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home02-text17 {
  top: 420px;
  left: 436px;
  color: rgba(86, 86, 86, 1);
  width: 716px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home02-text19 {
  top: 520px;
  left: 519px;
  color: rgba(86, 86, 86, 1);
  width: 528px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
